# Copyright (c) 2023-2025 The University of Manchester
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Add License and Copyright Headers
on:
  workflow_call:
    inputs:
      ref:
        description: "What reference to check. Defaults to the one from the pull request invoking this."
        type: string
        required: false
        default: ${{ github.event.pull_request.head.sha }}
      work-dir:
        description: "The working directory to check the code out into. Defaults to 'repo'."
        type: string
        required: false
        default: repo
      branch:
        description: "The name of the branch, used when generating a diff."
        type: string
        required: false
        default: ${{ github.head_ref }}
      license:
        description: "The SPDX name of the license to use."
        type: string
        required: false
        default: apache-2.0
    outputs:
      check-failed:
        description: "Whether the check applied by this workflow 'failed'."
        value: ${{ jobs.add-headers.outputs.made-change == 1 }}
      branch-created:
        description: "If a branch was created, the name of that branch."
        value: ${{ jobs.add-headers.outputs.made-change == 1 && jobs.add-headers.outputs.branch || '' }}
      branches-deleted:
        description: "If some branches were delete, what branches were they."
        value: ${{ jobs.add-headers.outputs.deleted }}

jobs:
  add-headers:
    runs-on: ubuntu-latest
    concurrency: prune:add-license-headers
    outputs:
      made-change: ${{ steps.push.outputs.changed }}
      branch: ${{ steps.push.outputs.branch }}
      deleted: ${{ steps.delete.outputs.deleted_branches }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          path: ${{ inputs.work-dir }}
          ref: ${{ inputs.ref }}

      - name: Add copyright headers
        uses: UoMResearchIT/actions/reuse@main
        with:
          base-dir: ${{ inputs.work-dir }}
          extra-formats-file: ${{ inputs.work-dir }}/.extraformats
          ignore-file: ${{ inputs.work-dir }}/.licenseignore
          license: ${{ inputs.license }}

      - name: Delete existing fix-headers branches
        uses: phpdocker-io/github-actions-delete-abandoned-branches@v2
        id: delete
        with:
          github_token: ${{ github.token }}
          last_commit_age_days: -1
          allowed_prefixes: add-license-headers-to-${{ inputs.branch }}-
          dry_run: no

      - name: Commit and push changes
        id: push
        uses: UoMResearchIT/actions/git-push-changes-to-branch@omit-workflows-from-commits
        with:
          working-directory: ${{ inputs.work-dir }}
          branch-prefix: add-license-headers-to
          commit-message: Add License and Copyright Headers
          exclude: .github/workflows/*

      - run: |
          echo "changed='${{steps.push.outputs.changed}}', branch='${{steps.push.outputs.branch}}'"
        shell: bash

  annotate:
    runs-on: ubuntu-latest
    concurrency: prune:bot-comments
    needs: add-headers
    steps:
      - name: Commit comment
        if: needs.add-headers.outputs.made-change == 1
        uses: peter-evans/commit-comment@v4
        with:
          body: >
            Copyright updates at [.../compare/${{ inputs.branch }}...${{ needs.add-headers.outputs.branch }}](${{ github.server_url }}/${{ github.repository }}/compare/${{ inputs.branch }}...${{ needs.add-headers.outputs.branch }}?expand=1), please review and merge.

      - name: Hide old PR comments
        if: needs.add-headers.outputs.made-change == 0
        uses: kanga333/comment-hider@v0.4.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: PR comment
        if: needs.add-headers.outputs.made-change == 1
        uses: mshick/add-pr-comment@v2
        with:
          refresh-message-position: true
          message: |
            ## Changes were made to copyright notices
            There are copyright updates on the (temporary) [${{ needs.add-headers.outputs.branch }} branch](${{ github.server_url }}/${{ github.repository }}/compare/${{ inputs.branch }}...${{ needs.add-headers.outputs.branch }}?expand=1). Please review and merge, or add further commits (this branch will be deleted).

      - name: Fail marker
        if: needs.add-headers.outputs.made-change == 1
        uses: actions/github-script@v8
        with:
          script: |
            core.setFailed("Copyright updates at ${{ github.server_url }}/${{ github.repository }}/compare/${{ inputs.branch }}...${{ needs.add-headers.outputs.branch }}?expand=1, please review and merge.")
